/* header */
header {
    padding: 0px;
    height: 50px;
    top: 0;
    right: 0;
    width: 100%;
    position: sticky ;
    display: flex;
    background:#5f5f5f;
    z-index: 10;
    color: #554F4F;
    }
header li a{
    color: #554F4F;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

header ul li + li {
    border-right: solid 1px #554F4F;
}
header li a:hover{
    color: orange;
    /* color: #554F4F; */
}

/* 各コンテナ共通設定 */
#order_con, #config_con, #top_con, #title_con, #event_con, #slice_con, #tna_con{
    position: relative;
    z-index: 0;
    margin-bottom: 10%;
}

.column{
    background-color: #fff;
    padding:1%;
    border-radius: 5px;
    display: flex;
    padding: 3% 1%;
    border: 1px solid #D9D9D9;
}
.column label{
    width: 100%;
    min-width: 37px;
    height: 43px;
    font-weight: 600;
    margin: 1.2px 0;
}
.column#pad_con, .column#slice_con{
    display: block;
    padding: 3%;
    border: 1px solid #D9D9D9;
}
.flex-box #name{
    width: 70%;
}
.flex-box{
    display: flex ;
    margin: 10px;
    height: 35px;
    width: 95%;
}

/* ボタンの設定 */
button {
    width: 13%;
    min-width: 60px;
    min-height: 34px;
    font-size: 0.7em;

    color: #554F4F;
    background-color: #f8f8f8;
    border: 0px;
    
    margin: 10px;
    margin-right :5%;
    margin-left: 5%;

    padding: 0;
    margin: 1%;
    border-radius: 5px;
}
button:hover {
    color: #554F4F;
    background-color: gray ;
}

.file t {
    margin-left: 30px;
}

button:active {
    color: white;
    background-color: #554F4F;
}
/* テキストボックス選択時のスタイル設定 */
input:focus {
    background-color: blanchedalmond;
    border: 2px solid #554F4F;
    outline: 0;
}
/* ラベル共通設定 */
label ,.title_input p,.column p{
    display: block;
    height: 24px;
    margin: 5px;
    font-size: 12px;
    
}


/* これより下を綺麗にする */


.bottom-container input{
    height: 18px;
    display: block;
    margin: 1px;
}

.file{
    position: sticky;
    top: 60px;
}
.file-container{
    position: sticky;
    top: 29%;
    /* background-color: #f4f4f4; */
    border-radius: 5px;
}

.file-container h3 {
    margin-top: 25px;
    text-align: center;
}

.window_left ::-webkit-scrollbar{
    width: 5px;
}
.window_left ::-webkit-scrollbar-thumb {
    background-color: #554F4F;
    border-radius: 5px;
}

#csv-config-container{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 29vh;
    border-radius: 5px;
    border: solid 1px #D9D9D9;
    padding-bottom: 10px;
    background-color: #fff;
}

#api-config-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 27vh;
    border-radius: 5px;
    border: solid 1px #D9D9D9;
    background-color: #fff;
}

#filesButton-container div div{
    margin: 5px;
    justify-content: space-evenly;
    border: none;
}

#filesButton-container div div form button:hover{
    background-color: #fff !important;
    color: #554F4F !important;
    border: solid 1px #D9D9D9;
}


.top-container{
    position: sticky;
    top: 50px;
    background-color: #f8f8f8;
    padding: 1%;
    padding-bottom: 5px;
}

.production-container select, .production-container input{
    width: 70%;
    height: 34px;
    padding: 0 0 0 3%;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    color: #554F4F;
    border: #D9D9D9 solid 1px;
    background-color: #f8f8f8;
}


.event-container {
    background-color: rgb(243, 243, 243);
    padding: 5px;
    margin: 10px;
}

.box{
    display: none;
}

.selector, .slice-selector{
    display: flex;
    margin: 10px 0;
    height: 34px;
    justify-content: space-between;
}

.slice-selector input{
    width: 30px;
    box-sizing: border-box;
}
.selector{
    margin-left: 4%;
}
.selector label, .slice-selector label{
    width: fit-content;
}
.selector input, .selector select, .slice-selector input, .slice-selector select{
    width: 20%;
    border-radius: 5px;
    border: #D9D9D9 solid 1px;
    background-color: #f8f8f8;
}
.selector input#padding_word, .selector input#padding_length, .selector select#padding_position{
    width: 25%;
    max-width: 200px;
}
.slice-selector select, .slice-selector #slice_start, .slice-selector #slice_end{
    width: 30%;
}
t{
    display: block;
    margin: 1.1px;
    font-size: 12px;
    writing-mode: horizontal-tb;
}

.config {
    align-items: baseline;
}

.window_left label {
    padding: 5px;
    border: solid 1px #D9D9D9;
    background-color: lightgray;
    text-align: center;
    border-radius: 5px;
    white-space: pre-line;
    height: fit-content;
}
label#fileUpload, label#filePick,label#newFile{
    background-color: #D9D9D9;
    color: #554F4F;
}
#fileUpload{
    display: none;
}
form.form{
    z-index: 0;
    position: relative;
    padding-bottom: 25px;
}
form.form input[type="submit"]{
    display: none;
}

.window_left label:hover{
    background-color: #fff !important;
    border: solid 1px white;
    color: #554F4F !important; 
}

.link{
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.link a:hover ,#saveButton:hover{
    color: white;
    background-color: gray;
}
.link a ,#saveButton, #increase{
    background-color: rgb(215, 215, 215) ;
    padding: 7px;
    font-size: 12px;
    border-radius: 5px;
    color: #554F4F;
    text-decoration: none;
    text-align: center;
    margin: 2px;
    width: 100%;
    font-weight: 600;
    height: auto;
}

#saveButton {
    background-color: orange;
}

#setFileName {
    display: none;
}

#increase{
    width: 30%;
    padding: 1%;
    margin: 0 0 0 auto;
    color: white;
    background-color: #d9534f;
    border-color: #d43f3a;
}

#increase:hover{
    color: #fff;
    background-color: rgb(171, 55, 55) !important;
}

.setting{
    position: sticky;
    top: 93vh;
}
.setting label{
    width: 100%;
    font-weight: 800;
    font-size: 15px !important;
}
.link a:active,#saveButton:active,.file-container div div *:active,.file * :active,#increase:active{
    -webkit-transform: translate(0,2px);
	-moz-transform: translate(0,2px);
	transform: translate(0,2px);
	border-bottom:none;
}
    h4 a{
    padding-top: 10% ;
    margin-top: 10% ;
    z-index: -1;
}
#order-list li{
    font-size: 12px ;
    padding: 5px;
    display: block;
}


.window_left input{
    display: none;
}

summary{
    font-size: 12px;
}

#pad_con input[type="button"], #slice_con input[type="button"]{
    display: none;
}

#checkbox_all, #checkbox_default{
    font-size: 13px;
}
input#checkbox_all, input#checkbox_default{
    height: 15px;
    box-sizing: border-box;
    margin: 2px;
}
.input-eventcode div{
    display: flex;
    height: 20px;
}
.input-eventcode div label{
    height: 20px;
    font-weight: 500;
}
summary {
    font-weight: 700;
    font-size: 13px;
}
#check_button{
    width: 10%;
}
.checkbox_all {
    background: #ddd;; 
    color:#aaa; 
    padding:5px; 
    border-radius:5px;
}

#tna_num_create t {
    width: 100%;
    height: 38px;
    line-height: 40px;
    text-align: center;
}

#tna_num_group p, #attendance_num p {
    width: 12vh;
    min-width: 60px;
    box-sizing: border-box;
    height: 34px;
}
#tna_con .column {
    font-size: 12px;
    font-weight: 700;
    overflow-x: scroll;
    text-align: center;
    border: 1px solid #D9D9D9;
}
#tna_con .title_input input{
    width: 20vh;
    height: 34px;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: inherit;
    color: #554F4F;
    margin: 5px;
    border: #D9D9D9 solid 1px;
    background-color: #f8f8f8;
}

#item-container {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    list-style:none;
    text-align: center;
    
}
#item-container li, #deleteAll{
    margin: 10px;
    width: 12%;
    max-width: 70px;
    height: 40px;
    font-size: 12px;
    background-color: #f2f2f2;
    padding: 14px 5px 0 5px;
    margin: 0.8%;
    border-radius: 5px;
    border: 1px solid #554F4F71;
    text-align: center;
    cursor: move;
}
#item-container li:hover, #deleteAll:hover{
    background-color: #e1e1e1;;
}

#deleteAll{
    font-size: 14px;
    height: 30px;
    cursor: auto;
    margin-bottom: 5%;
}

.list{
    font-weight: bold;
    display: flex;
    border: 1px solid #554f4f71;
    height: 80px;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: -1;
    position: relative;
    border-radius: 5px;
    width: 100%;
    white-space: nowrap;
    background: linear-gradient(to right, white 90%, #D9D9D9 100%);
}
.list li{
    width: fit-content;
    height: 40px;
    padding: 15px 5px;
    cursor: move;
    font-size: 15px;
    margin:2px;
    white-space: nowrap;
    text-align: center;
    margin: auto 0;
    vertical-align: middle;
    list-style: none;
}
.list .delete{
    cursor: pointer;
}

.list li.blank{
    width: calc(80%);
    margin: 0 -100vh 0 0 ;
    -webkit-user-drag: none;
    cursor: auto;
}
.list::-webkit-scrollbar {
    height: 5px;
}
.list::-webkit-scrollbar-thumb {
    background-color: #554F4F;
    border-radius: 5px;
}
.column#order {
    display: block;
    border: 1px solid #D9D9D9;
}
